<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
</head>

<body>
  <main class="bg-gray-100 dark:bg-gray-800 w-screen h-screen">
    <div class="w-full flex justify-between items-center px-4 py-2">
      <button onclick="showpopUp()" class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded">
        Upload files
      </button>
      <a href="/user/logout" class="text-red-500 hover:underline">Logout</a>

    </div>
    <div class="pop hidden backdrop-blur fixed top-0 left-0 w-screen h-screen  flex items-center justify-center">
      <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="flex items-center justify-center w-96 ">
          <label for="dropzone-file"
            class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
            <div class="flex flex-col items-center justify-center pt-5 pb-6">
              <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
              </svg>
              <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to
                  upload</span>
                or drag and drop</p>
              <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
            </div>
            <input id="dropzone-file" type="file" class="hidden" name="file" />
          </label>
        </div>
        <button class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 my-2 rounded">Upload Files</button>
      </form>
      <div  class="cursor-pointer">
        <svg onclick="closepopUp()" 
        class=" close hidden stroke-black hover:stroke-red-600 absolute top-25 right-65" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24" width="24" height="24" fill="none">
          <path d="M19.0005 4.99988L5.00049 18.9999M5.00049 4.99988L19.0005 18.9999" stroke-width="1.5"
            stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
    </div>
    <div class="files py-2 px-4 mt-2px flex flex-col gap-2px">
      <% files.forEach((file)=>{%>
        <div class="mt-2 p-2 cursor-pointer bg-gray-700 rounded-md text-white flex justify-between">
          <h1><%= file.originalname %></h1>
          <a href="/download/<%= encodeURIComponent(file.path) %>" download ="<%= file.originalname %>" target="_blank"> 
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="#808080" fill="none">
    <path d="M12 14.5L12 4.5M12 14.5C11.2998 14.5 9.99153 12.5057 9.5 12M12 14.5C12.7002 14.5 14.0085 12.5057 14.5 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    <path d="M20 16.5C20 18.982 19.482 19.5 17 19.5H7C4.518 19.5 4 18.982 4 16.5" stroke="#FF0000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
</svg></a>
        </div>
      <% }) %>
    </div>
  </main>




  <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
<script>
  function showpopUp() {
    document.querySelector('.pop').style.display = "flex";
    document.querySelector('.close').style.display = "flex";
  }
  function closepopUp() {
    document.querySelector('.pop').style.display = "none";
  }
</script>

</html>